
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> lexik/jwt-authentication-bundle ###
/config/jwt/*.pem
###< lexik/jwt-authentication-bundle ###

compose.override.yaml

###> friendsofphp/php-cs-fixer ###
/.php-cs-fixer.cache
###< friendsofphp/php-cs-fixer ###


###> qossmic/deptrac ###
/.deptrac.cache
###< qossmic/deptrac ###

###> phpunit/phpunit ###
.phpunit.result.cache
###< phpunit/phpunit ###
